.curated-home {
    // .badge-category {
    //   font-size: 0.6em;
    // }
    .date {
      font-size: 0.8em;
    }

    img.teaser {
      width: 100%;
    }

    .post-meta, .post-meta .number {
      font-size: 0.8em;
      margin-bottom: 15vh;
    }

    .post-meta {
        text-align: right;
    }
}